{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top: 1%">
        <h3>Constructors with most victory in {{ season }} </h3>
        <script>
            var constructors = [];
            var wins = [];
        </script>
        {% for constructorName, nbWins in constructors %}
            <p>{{constructorName }} wins {{ nbWins }} races </p>
            <script>
                constructors.push("{{ constructorName }}");
                wins.push("{{ nbWins }}");
            </script>
        {% endfor %}

        <canvas id="pieChart" style="max-width: 1000px; max-height: 500px"></canvas>
    </div>
    <script>
        var ctxP = document.getElementById("pieChart").getContext('2d');
        var myPieChart = new Chart(ctxP, {
            type: 'pie',
            data: {
                labels: constructors,
                datasets: [{
                    data: wins,
                    backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                    hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
                }]
            },
            options: {
                responsive: true
            }
        });
    </script>

{% endblock %}

