{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top: 1%">

        <select class="form-select" id="seasons" onchange="document.location.href='/drivers/most/winning/'+this.value" style="margin-bottom: 1%;">
            <option value="2010">Saison 2010</option>
            <option value="2011">Saison 2011</option>
            <option value="2012">Saison 2012</option>
            <option value="2013">Saison 2013</option>
            <option value="2014">Saison 2014</option>
            <option value="2015">Saison 2015</option>
            <option value="2016">Saison 2016</option>
            <option value="2017">Saison 2017</option>
            <option value="2018">Saison 2018</option>
            <option value="2019">Saison 2019</option>
            <option value="2020">Saison 2020</option>
            <option value="2021">Saison 2011</option>
        </select>

        <h3>Drivers with most victory in {{ season }}</h3>

        <script>
            var drivers = [];
            var wins = [];
        </script>
        {% for driverName, nbWins in drivers %}
            <p>{{ driverName }} wins {{ nbWins }} races </p>
            <script>
                drivers.push("{{ driverName }}");
                wins.push("{{ nbWins }}");
            </script>
        {% endfor %}

        <canvas id="pieChart" style="max-width: 1000px; max-height: 500px"></canvas>
    </div>

    <script>
        var ctxP = document.getElementById("pieChart").getContext('2d');
        var myPieChart = new Chart(ctxP, {
            type: 'pie',
            data: {
                labels: drivers,
                datasets: [{
                    data: wins,
                    backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                    hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
                }]
            },
            options: {
                responsive: true
            }
        });

        var selectSeason = document.getElementById("seasons");
        selectSeason.value = {{ season }};
    </script>
{% endblock %}
