{% extends 'base.html.twig' %}

{% block title %}Title index{% endblock %}

{% block body %}
    <h1>Title index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Round</th>
                <th>Season</th>
                <th>Type</th>
                <th>Points</th>
                <th>Wins</th>
            </tr>
        </thead>
        <tbody>
        {% for title in titles %}
            <tr>
                <td>{{ title.round }}</td>
                <td>{{ title.season }}</td>
                <td>{{ title.type }}</td>
                <td>{{ title.points }}</td>
                <td>{{ title.wins }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
